@font-face{
    font-family: aeonikPro;
    src: local('Aeonik-Medium.ttf'), url(../font/Aeonik-Medium.ttf) format('truetype');
}

@font-face {
    font-family: aeonikLight;
    src: local('Aeonik-Light.ttf'), url(../font/Aeonik-Light.ttf) format('truetype');
}

.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}   

.nav{
    margin-right: 3vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textnav{
    margin-left: 1vw;
    color: gray;
    font-family: aeonikLight;
}

.logoNavOff{
    opacity: 0;
}

.textDiv{
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.firstDivnav{
    display: flex;
    flex-direction: row;
}

.secondDivnav{
    display: flex;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 70vh;
    margin-top: 20vh;
    text-align: center;
}

.divMainPhrase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainPhrase{
    width: max-content;
    text-align: center;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(148, 148, 148);
    font-family: aeonikPro;
    font-weight: 600;
}
.mainPhrase2{
    margin-top: -2vh;
    text-align: center;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(180, 180, 180);
    font-family: aeonikLight;
    font-weight: 900;
}

.arrow{
    margin-bottom: 3vh;
}

/* Page 2 */

.section2{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh
}

.div2a{
    color: gray;
    margin-top: 5vh;
    height: 4vh;
    font-family: aeonikPro;
}

.div2b{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
}

.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-size: 94px;
    font-weight: 500;
    font-family: aeonikPro;
}

.underText{
    font-size: 28px;
    color: gray;
    font-family: aeonikLight;
}

.div2c{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 55vw;
}

.protocol{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(172, 169, 169, 0.11);
    width: 12vw;
    height: 5vh;
    border-radius: 20px;
    font-weight: 700;
    font-family: aeonikPro;
}

.div2d{
    margin-top: 4vh;
}

.bigChart{
    z-index: 1;
    background-color: rgb(241, 241, 241);
    padding: 1vw;
    width: 100vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 10px;
    margin-top: 10vh;
}

.buttonModal{
    margin-right: 1vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5vw;
    font-size: 16px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}

/* Page 3 */

.div3a{
    color: gray;
    margin-top: 5vh;
    height: 4vh;
    
}

.section3{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    font-family: aeonikPro;
}

.div3a{
    color: gray;
    margin-top: 5vh;
    height: 4vh;
}

.div3b{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 60vw;
    text-align: center;
    margin-top: 4vh;
}

.changer{
    background: #D6D6D6;
    background: linear-gradient(to right, #D6D6D6 0%, #C4F5FF 100%);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    margin-top: 5vh;
    font-family: aeonikPro;
}

.div3d{
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    text-align: center;
    margin-top: 3vh;
}

.input{
    background-color: rgba(172, 169, 169, 0.11);
    border: none;
    border-radius: 10px;
    padding: 8px;
    width: 12vw;
}

.subscButton{
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
    height: 5vh;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-top: 2vh;
    box-shadow: none;
    font-family: AeonikPro;
}

/* Page 4 */

.section4{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    font-family: aeonikPro;
}

.div4a{
    color: gray;
    margin-top: 5vh;
    height: 4vh;
}

.div4b{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 60vw;
    text-align: center;
}

.div4c{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 55vw;
    height: 30vh;
}

.post{
    padding: 1vw 3vw 1vw 3vw;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 2vw;
    width: 20vw;
    height: 20vh;
    background-color: #f4f4f4;
}

.link{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* Page 5 */

.section5{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    overflow: hidden;
    font-family: aeonikPro;
}

.div5a{
    color: gray;
    margin-top: 5vh;
    height: 4vh;
}

.div5b{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 70vw;
    text-align: center;
}

.div5c{
    cursor: pointer;
    white-space: nowrap;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.avatarDiv{
    display: inline-flex;
    padding: 2vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    margin: 1vw;
    background-image: linear-gradient(180deg, #EFECEC 0%, rgba(239, 236, 236, 0) 100%);
}

.avatarImg{
    border-radius: 40px;
}

.avatarH2{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.avatarH3{
    color: gray;
    font-size: 20px;
    font-weight: 500;
}

/* Page 6 */

.section6{
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    font-family: aeonikPro;
}

.div6a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100vw;
    text-align: center;
}

.div6b{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    text-align: center;
    /* overflow-y: scroll; */
}

.advisorDiv{
    height: 15vh;
    border-radius: 30px;
    padding: 1vw 3vw 1vw 3vw;
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
    background-color: rgb(214, 214, 214);
}

.advisorDiv3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
}

.advisorDiv2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.advisorH2{
    font-size: 24px;
    font-weight: bold;
}

.advisorH3{
    margin-top: -3vh;
    font-size: 18px;
    font-weight: bold;
    color: rgba(107, 107, 107, 1);
}

.advisorH4{
    font-size: 22px;
    font-weight: bold;
    color: rgba(169, 169, 169, 1); 
}


/* Page 7 */

.section7{
    /* height: 100vh; */
    width: 100vw;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh;
    font-family: aeonikPro;
}

.div7b{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.investorDiv{
    cursor: pointer;
    width: 10vw;
    border-radius: 20px;
    margin: 1vw;
    display: inline-flex;
    padding: 2vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-image: linear-gradient(180deg, #CACACA 0%, rgba(158, 158, 158, 0) 100%); */
    color: white;
    background-color: black; 
}

.investorH3{
    color: rgb(151, 151, 151);
    font-family: aeonikLight;
}

.div7c{
    height: max-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #D9D9D9 100%);;
}

.divInvestors1{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5vw;
}

.divInvestors2{
    /* margin-top: 10vh; */
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5vh;
}

.investorsImg{
    filter: grayscale(100%);
}

/* Page 8 */

.section8{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    font-family: aeonikPro;
}

.join{
    color: gray;
    margin-top: 5vh;
}

.div8a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 60vh;
    width: 50vw;
    text-align: center;
}

.div8b{
    display: flex;
    margin-top: 5vh;
}

.input2{
    background-color: rgba(172, 169, 169, 0.11);
    border: none;
    border-radius: 7px;
    padding-left: 1vw;
    height: 6vh;
    width: 13vw;
}

.suscribe{
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    height: 6vh;
    width: 10vw;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-bottom: 1vh;
}

.divFooter2{
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    color: gray;
    font-family: aeonikLight;
}

.divFooter1{
    margin-left: 3vw;
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
}

/* Media Queries */

@media screen and (min-width: 360px) {
    .underText{font-size: 16px;}
    .mainPhrase{font-size: 16px;}
    .h1{font-size: 56px;}
    .protocol{width: 28vw; font-size: 14px;}
    .div2c{width: 90vw;}
    .div2a{font-size: 11px;}
    .div3a{font-size: 11px;}
    .div4a{font-size: 11px;}
    .div5a{font-size: 11px;}
    .changer{font-size: 20px;}
    .input{width: 40vw;}
    .post{width: 40vw; height: 20vh; font-size: 16px;}
    .div4c{width: 80vw;}
    .avatarDiv{width: 40vw;}
    .avatarH3{font-size: 12px;}
    .avatarH2{font-size: 16px;}
    .advisorDiv{width: 60vw;}
    .advisorH4{font-size: 10px;}
    .advisorH3{font-size: 12px; margin-top: -1vh;}
    .advisorH2{font-size: 14px;}
    .div6b{width: 100vw;}
    .investorDiv{width: 40vw;}
    .divInvestors2{width: 100vw;}
    .div8a{width: 100vw;}
    .input2{width: 36vw;}
    .suscribe{width: 30vw;}
    .divFooter2{font-size: 10px;}
    .subscButton{width: 12vh;}
    .mainPhrase2{font-size: 14px; margin-top: -1vh;}
}

@media screen and (min-width: 640px) {
    .div3a{font-size: 18px;}
    .div2a{font-size: 18px;}
    .div4a{font-size: 18px;}
    .div5a{font-size: 18px;}
    .underText{font-size: 18px;}
    .h1{font-size: 72px;}
    .protocol{width: 19vw;}
    .div2c{width: 70vw;}
    .changer{font-size: 24px;}
    .input{width: 28vw;}
    .post{width: 30vw; font-size: 14px;}
    .avatarDiv{width: 25vw;}
    .avatarH3{font-size: 12px;}
    .avatarH2{font-size: 18px;}
    .advisorDiv{width: 50vw;}
    .advisorH4{font-size: 16px;}
    .investorDiv{width: 20vw;}
    .divInvestors2{width: 80vw;}
    .div8a{width: 100vw;}
    .input2{width: 22vw;}
    .suscribe{width: 20vw;}
    .mainPhrase2{font-size: 17px; margin-top: -2vh;}
}

@media screen and (min-width: 768px) {
    .h1{font-size: 80px;}
    .underText{font-size: 24px;}
    .mainPhrase{font-size: 22px;}
    .post{width: 30vw; font-size: 18px;}
    .div8a{width: 80vw;}
    .advisorH3{font-size: 16px; margin-top: -2vh;}
    .advisorH2{font-size: 20px;}
}

@media screen and (min-width: 1024px) {
    .protocol{width: 16vw;}
    .div2c{width: 55vw;}
    .input{width: 18vw;}
    .h1{font-size: 80px;}
    .post{width: 30vw; font-size: 20px;}
    .div4c{width: 70vw;}
    .avatarDiv{width: 20vw;}
    .avatarH3{font-size: 16px;}
    .avatarH2{font-size: 20px;}
    .advisorDiv{width: 50vw;}
    .advisorH4{font-size: 20px;}
    .investorDiv{width: 16vw;}
    .div8a{width: 70vw;}
    .input2{width: 18vw;}
    .suscribe{width: 16vw;}
}

@media screen and (min-width: 1280px) {
    .textnav{font-size: 20px;}
    .h1{font-size: 92px;}
    .underText{font-size: 28px;}
    .protocol{font-size: 20px;}
    .mainPhrase{font-size: 26px;}
    .changer{font-size: 32px;}
    .div3d{font-size: 16px;}
    .post{width: 25vw; font-size: 24px; height: 25vh;}
    .div4c{width: 65vw;}
    .avatarH3{font-size: 20px;}
    .avatarH2{font-size: 24px;}
    .advisorH4{font-size: 24px;}
    .advisorH2{font-size: 28px;}
    .advisorH3{font-size: 22px; margin-top: -3vh;}
    .investorH3{font-size: 18px;}
    .investorH2{font-size: 22px;}
    .divFooter2{font-size: 20px;}
}